.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.flexcontainer{
  display:flex;
  flex:row nowrap;
  height:100vh;
}

.flexcontainer div {
  background-image: linear-gradient(to right, black, white, black);
  flex:1;
}