*{
  color: white;
}

html{
  background-color: rgb(21, 28, 38);
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.flexcontainer{
  display:flex;
  flex:row nowrap;
  height:100vh;
  justify-content: center;
}

.flexcontainer > div {
  width:600px;
}

.flexcontainer div {

  flex:1;
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10vh;
  color: white;
}

.Navbar > a {
  font-size: 4vh;
  color: white;
  text-decoration: none;
  padding: 2vh;
}

a.Home:hover, a.Twitter:hover, a.Explore:hover, a.Bookmarks:hover, a.Messages:hover, a.Profile:hover, a.Notifications:hover, a.Lists:hover, a.More:hover {
  color: rgb(153, 134, 223);
  background-color: rgba(21, 5, 78, 0.6);
  border-radius: 2vh;
}
​
a:active{
  color: rgb(9,133,204);
}

@media only screen and (max-width: 700px) {
  *{
    background-color: red;
  }
}
.Tweet {
  background-color: rgb(87, 41, 160);
  color: white;
  border-radius: 2vh;
  padding: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
}
.Main {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.562);
  border-width: 0.5px;
  border-top: none;
  border-bottom: none ;
}

.textBox {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.555);
  border-width: 0.5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
}
.textBox2 {
  padding: 0vh;
  text-align: left;
  height: 60px;
  border-width: 0.5px;
  border-style: solid;
  width: 587px;
  padding-left: 2vh;
  border-color: rgba(255, 255, 255, 0.555); 
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10vh;
  color: white;
}

