.Recommended{
    text-align:left;   
}

#recInner{
    width:300px;
    padding-left:30px
}

#searchTwitter{
    text-align:center;
}

#searchTwitter > input{
    width:80%;
    border-radius:20px;
    height:35px;
    font-size: 15pt;
    padding-left:50px;
}

#searchTwitter > input:before{
    position:absolute;
    padding-left:15px;
}

#trendsForYou, #whoToFollow{
    border:0;
    border-radius: 25px;
    background-color:#fff1;
    margin:5px;
}

.recHead, .recfoot{
    padding:10px
}

.trend, .followable{
    padding: 10px; 
}

.trendType, .tweetNumber{
    font-size: 10pt;
    color:#99b;
}

.hashTag{
    font-size: 12pt;
}

.trendType, .hashTag, .tweetNumber{
    margin: 5px;
}

h1{
    font-size: 16pt;
    margin: 10px;
}

p{
    margin: 0;
    padding:0;
}

.cog {
    float:right;
}

.hashTag > a, .showMore > a{
    text-decoration: none;
}

.showMore {
    padding:20px;
}

.showMore > a {
    color: rgb(123, 94, 170)
}

.showMore, .trend, .followable {
    border-top: 1px #fff3 solid;
}

.followableIcon{
    float:left;
    font-size:30px
}

@media only screen and (max-width: 1200px) {
    .Recommended{
        display:none;
    }
}
