.Recommended{
    text-align:left;   
}

#recInner{
    width:300px;
    padding-left:30px
}

#searchTwitter{
    text-align:center;
}

#searchTwitter > input{
    width:80%;
    border-radius:20px;
    height:35px;
    font-size: 15pt;
    padding-left:50px;
}

#searchTwitter > input:before{
    position:absolute;
    padding-left:15px;
}

#trendsForYou, #whoToFollow{
    border:0;
    border-radius: 25px;
    background-color:#fff1;
    margin:5px;
}

.recHead, .recfoot{
    padding:10px
}

.trend, .followable{
    padding: 10px; 
}

.trendType, .tweetNumber, .twitterHandle{
    font-size: 10pt;
    color:#99b;
}

.hashTag, .twitterer{
    font-size: 12pt;
}

.trendType, .hashTag, .tweetNumber{
    margin: 5px;
}

h1{
    font-size: 16pt;
    margin: 10px;
}

p{
    margin: 0;
    padding:0;
}

.cog {
    float:right;
}

.hashTag > a, .showMore > a, .followButton > a{
    text-decoration: none;
}

.showMore {
    padding:20px;
}

.showMore > a {
    color: #75a
}


.showMore > a:hover, .showMore > a:active{
    color: #a9e;
}

.showMore, .trend, .followable {
    border-top: 1px #fff3 solid;
}


.followableIcon{
    float:left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.followButton {
    float: right;
    margin-top:-37px;
    margin-right: 10px;
    border:1px #75a solid;
    padding:10px 15px 10px 15px;
    border-radius: 20px;
}

.followButton > a {
    color: #75a
}

.followButton > a:hover, .followButton > a:active{
    color: #a9e;
}


@media only screen and (max-width: 1200px) {
    .Recommended{
        display:none;
    }
}
